<h1>Welcome#index</h1>
<p>Você e foda Renato, acredito em você. By Leylanne</p>

<p>A soma e: <%= 1+1 %> </p> 
<p> Seu nome de trás para frente é: <%= "Renato".reverse %> </p>
<% a = "Minha variavel e????"  %>
<p> <%= a %>  </p>
<p> <%= Date.today %>
